.table-parent {
  padding: 2rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.table-head th {
  background: #842fa9;
  color: white;
}

.card{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.contact-view:hover {
  color: blueviolet;
  cursor: pointer;
}

.edit:hover {
  color: blueviolet;
}
.delete:hover {
  color: red;
}

.card-action {
  cursor: pointer;
}

.card-action:hover {
  color: blueviolet;
}

.card-action.delete:hover {
  color: red;
}
