<div class="modal-header">
  <h4 class="modal-title">Contact Details</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <p><strong>Name: </strong>{{ contact.name }}</p>
  <p><strong>Email: </strong>{{ contact.email }}</p>
  <p><strong>Contact Number: </strong>{{ contact.contactNumber }}</p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.dismiss('Close click')"
  >
    Close
  </button>
</div>
